.gradle
!gradle/wrapper/gradle-wrapper.jar
bin/
build/
## 不知道哪里生成的，可能是 idea 的单元测试
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/out/

### VS Code ###
.vscode/

### MacOS ###

.DS_Store

## log file ##

logs/

##  docker compose

.env


## fontend

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*